.wRook {
    background-image: url('../static/images/wRook.png');
}

.wKnight {
    background-image: url('../static/images/wKnigh.png');
}

.wBishop {
    background-image: url('../static/images/wBishop.png');
}

.wQueen {
    background-image: url('../static/images/wQueen.png');
}

.wKing {
    background-image: url('../static/images/wKing.png');
}

.wPawn {
    background-image: url('../static/images/wPawn.png');
}

.bRook {
    background-image: url('../static/images/bRook.png');
}

.bKnight {
    background-image: url('../static/images/bKnigh.png');
}

.bBishop {
    background-image: url('../static/images/bBishop.png');
}

.bQueen {
    background-image: url('../static/images/bQueen.png');
}

.bKing {
    background-image: url('../static/images/bKing.png');
}

.bPawn {
    background-image: url('../static/images/bPawn.png');
}